body{
    width: 98%;
    height: 850px;
    /* border: 2px solid black; */
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.561);
    /* margin: auto; */
    position: absolute;
    z-index: 1;
}


.content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    margin: auto;
}

.entete{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    background-color: aqua;

}

.corps{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid black; */
    margin-top: 2%;
    
    background-color: grey;
}

.body_name{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body_content{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid black; */
    margin-top: 2%;
    
    /* background-color: grey; */
}

.sous_div{
    /* position: relative; */
    width: 30%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-color: aliceblue;
}

.product{
    width: 90%;
    height: 30%;
    margin-top: 3%;
    border: 4px solid silver;
    border-radius: 8%;
    padding-left: 5%;
}

.name_vendeur{
    width: 33%;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    background-color: antiquewhite;
}


/* *******************Menu deroulant **************************** */

.menu{
    width: 10%;
    height: 13%;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -113%;
    right: -45%;
    z-index: 0;
    border: 2px solid black;
}

.dropdown{
    display: flex;
    flex-direction: column;

}

.dropdown-menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.dropdown-item{
    width: 100%;
    height: 30px;
    text-decoration: none;
    margin-top: 2%;
}